<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <bod align="center"y>
    <h1><%= title %></h1>
    <div>
      <div>
      <img src="/images/f_manuel.png" width="250" margin="200px" alt="">
      </div>
      <div>
      <h2>Manuel Ignacio Perez Soriano</h2>
      </div>
    </div>
  </body>
</html>
